<configuration>
	<appSettings>
		<add key="CaptchaPublicKey" value="6LeaPL8SAAAAAHPavxIFfa7iCJW0ctMaEVit25P7"/>
		<add key="CaptchaPrivateKey" value="6LeaPL8SAAAAAEtn4SB77ekFMcdUZR3bi_2oqcJz"/>
		<add key="JoomlaSessionsTable" value="jos_session"/>
	</appSettings>
	<connectionStrings>
		<clear/>
		<add name="FFVA" connectionString="Server=localhost;Database=ffva2_;Uid=ffva2_website;Pwd=123456;" providerName=""/>
	</connectionStrings>
	<system.web>
		<customErrors mode="Off"/>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Web.Helpers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Web.Mvc, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Web.WebPages, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			</assemblies>
		</compilation>
		<pages controlRenderingCompatibilityVersion="4.0"/></system.web>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<modules runAllManagedModulesForAllRequests="true"/>
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="4.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
